body {
  margin: 0;
  background-image: url("./media/background.jpg");
}

header {
  background: rgba(40, 48, 51);
  opacity: 0.8;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-image: url("./media/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 42px;
  width: 120px;
}

main {
  font-family: Arial;
  color: aliceblue;
  position: relative;
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

h1 {
  width: 390px;
  font-size: 60px;
  margin-top: 144px;
  margin-bottom: 35px;
}

span {
  margin-top: 5px;
}

b {
  font-weight: bolder;
  font-size: 19px;
}

.message {
  font-stretch: 200%;
  transform: scale(1.2, 1);
}

hr {
  border: solid 2px rgba(236, 29, 39, 255);
  width: 140px;
  margin-top: 42px;
  margin-bottom: 18px;
}

p {
  margin-bottom: 2px;
}

.email {
  font-style: italic;
  text-decoration: underline;
}

a {
  color: aliceblue;
}

svg {
  fill: rgba(236, 29, 39, 255);
  height: 70px;
  margin-top: 55px;
}